*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--text-color-primary);
}

a:active,
a:hover {
  outline: 0;
}

:active {
  outline: none;
}

article,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: top;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0px;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
}

input {
  outline: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

figure {
  padding: 0;
  margin: 0;
}

.address,
button {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

legend {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------------base------------------------------*/
body {
  background-color: var(--background-color-defaul);
}

.container {
  max-width: var(--width);
  margin: 0 auto;
}

.header__container,
.about__container,
.welcome__container,
.service__container,
.prices__container,
.contacts__container,
.footer__container {
  padding-left: 109px;
  padding-right: 109px;
}

.about__container,
.welcome__container,
.prices__container,
.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 42px;
}

.welcome__image,
.welcome__description,
.about__description,
.about__image,
.accordion-wrap,
.prices__contact {
  flex: 1;
}

.description__heading span,
.service__heading span,
.prices-contact__heading span {
  color: var(--text-color-heading-inner);
}

.header,
.welcome,
.service,
.contacts {
  background-color: var(--background-color-primary);
}

.heading--xxl {
  font-size: var(--text-xxl);
  line-height: 1.11;
  font-weight: 700;
}

.heading--xl {
  font-size: var(--text-xl);
  line-height: 1.3;
  font-weight: 400;
}

.heading--lg {
  font-size: var(--text-lg);
  line-height: 1;
  font-weight: 700;
}

/* -------------------------button------------------------------ */
.button {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: inherit;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--border-color-primary);
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  color: var(--text-color-primary-active);
  background-color: var(--button-background-color-active);
}

.button:hover .button__text {
  color: var(--text-color-primary-active);
}

.button:active {
  box-shadow: var(--box-shadow-primary);
}

.button__text {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-button);
  transition: all 0.3s;
}

/* ------------------------header--------------------------- */

.header__container {
  padding-top: 42px;
  padding-bottom: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;

  background-color: var(--background-color-primary);
}

.logo svg {
  stroke: var(--logo-svg-color);
}

.logo__text {
  font-family: "Inika";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3.125;

  color: var(--text-color-default);
}

.logo:hover svg,
.logo:hover .logo__text {
  stroke: var(--logo-color-hover);
  color: var(--logo-color-hover);
}

.logo:active svg,
.logo:active .logo__text {
  stroke: var(--logo-color-active);
  color: var(--logo-color-active);
}

.menu {
  font-family: "Inika";
  font-size: 1rem;
  line-height: 3.125;
  font-weight: 400;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
}

.link-rrs:hover,
.link:hover {
  color: var(--text-color-primary-hover);
  text-shadow: 0 0 0.75px var(--text-color-primary-hover), 0 0 0.75px var(--text-color-primary-hover);
}

.link:active {
  position: relative;
  top: 2px;
}

/* -------------------------------welcome------------------------- */
.welcome__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 42px;
}

.welcome__container {
  padding-top: 62px;
  padding-bottom: 62px;
}

.welcome__image {
  max-width: 449px;
  height: auto;
  mix-blend-mode: multiply;
}

.image__media {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image--welcome {
  aspect-ratio: 449 / 407;
}

.welcome__description {
  max-width: 549px;
}

.welcome .description__heading {
  margin-top: 36px;
  margin-bottom: 42px;
}

.welcom--description-text {
  color: var(--text-color-heading-primary);
}

.description__text {
  margin-bottom: 48px;
}

.text--description {
  font-size: 1.25rem;
  line-height: 1.75;
  font-weight: 400;
  color: var(--text-color-description);
}

.description__button-welcome {
  min-height: 2.75rem;
  width: 9.875rem;
  max-width: 100%;
}

/* -----------------------------about----------------------- */

.about__container {
  padding-top: 93px;
  padding-bottom: 94px;
  align-items: center;
  gap: 40px;
}

.about__description {
  max-width: 605px;
}

.about__image {
  max-width: 464px;
  height: auto;
  mix-blend-mode: multiply;
}

.image--about {
  aspect-ratio: 464 / 479;
  object-fit: cover;
}

.about .description__heading {
  margin-bottom: 40px;
  max-width: 463px;
}

.about--heading-text {
  font-family: "Inika";
  color: var(--text-color-heading-secondary);
}

.text--about {
  line-height: 1.5;
}

/* ------------------service------------------------ */

.service__container {
  padding-top: 40px;
  padding-bottom: 121px;
}

.service__header {
  margin-bottom: 80px; /* на макете 90, изменено из-за line-header, в макете не правильно указан*/

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 142px;
  row-gap: 40px;
}

.service__heading {
  max-width: 306px;
}

.service-heading--text {
  font-family: "Inika";
}

.service-button__list {
  display: flex;
  column-gap: 38px;
}

.service-button__item {
  width: 10.0625rem;
  min-height: 3.125rem;
  max-width: 100%;
}

.button--service {
  border-radius: 5px;
  border: 1px solid var(--border-color-primary);
}

.service .button__text {
  font-family: "inika";
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
  text-transform: unset;

  color: var(--text-color-secondary);
}

.collection__list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 55px;
  column-gap: 117px;
}

.collection__item {
  max-width: 329px;
}

.item:active {
  box-shadow: var(--box-shadow-primary);
  border-radius: 1.25rem;
}

.item__wrap {
  position: relative;
  /* filter: blur(2px); */
}

.item__image {
  aspect-ratio: 329 /350;
  object-fit: cover;
}

.item__wrap:active,
.item__wrap:hover,
.item__wrap:has(.description__link:focus) {
  /*  селектор .item__wrap:has(.description__link:focus), временно, пока нет js*/
  /* filter: none; */
}

.item__image {
  border-radius: 20px 20px 0px 0px;
}

.item__description {
  padding-top: 10px;
  padding-bottom: 36px;

  text-align: center;

  border: 1px solid var(--border-color-secondary);
  border-radius: 0px 0px 1.25rem 1.25rem;
  border-top: none;
}

.descripton__heading {
  margin-bottom: 14px; /*на макете 10px*/
}

.collection .description__text {
  padding-left: 30px;
  padding-right: 30px;
}

.description__link {
  color: var(--text-color-secondary);
}

.description__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -----------------------prices-------------------------- */
.prices__container {
  padding-top: 40px;
  padding-bottom: 115px;
}

.prices__heading {
  margin-bottom: 60px;
}

.prices--heading-text {
  line-height: 1.2;
  font-weight: 700;
}

.prices__accordion {
  padding: 34px 41px;

  max-width: 332px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.accordion {
  border: 1px solid var(--border-color-secondary);
  border-radius: 20px;
}

.accordion-section__heading {
  /* width: 250px; */
  max-width: 250px;
  min-height: 50px;
}

.accordion-section__button {
  padding-left: 40px;
  padding-right: 40px;
}

.accordion-button {
  position: relative;

  width: 100%;
  min-height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
  border: 1px solid var(--background-color-primary);
  background: var(--accordion-button-background-color);

  transition: var(--transition-accordion);
}

.accordion-button[aria-expanded="true"] {
  background-color: var(--accordion-button-background-color-active);
  border-color: var(--accordion-border-color-active);
}

.button--accordion {
  line-height: 1;
}

.button__arrow {
  position: relative;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: var(--accordion-arrow-background-color-primary);

  transition: var(--transition-accordion);
}

.accordion-button[aria-expanded="true"] .button__arrow {
  background-color: var(--accordion-arrow-background-color-primary-active);
}

.button__arrow::before {
  content: "";
  position: absolute;

  top: 50%;
  right: 50%;

  width: 3px;
  height: 3px;

  border: 1px solid var(--accordion-arrow-color);
  border-top: none;
  border-right: none;
  transform: translate(50%, -75%) rotate(-45deg);

  transition: var(--transition-accordion);
}

.accordion-button[aria-expanded="true"] .button__arrow::before {
  border-color: var(--accordion-arrow-color-active);
  transform: translate(50%, -25%) rotate(135deg);
}

.accordion-section__content {
  z-index: -1;

  position: relative;
  margin-top: -30px;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 0 0 1.25rem 1.25rem;
  background-color: var(--accordion-button-background-color);

  transition: var(--transition-accordion);
}

.accordion-section__content:has(.accordion-active) {
  background-color: var(--accordion-background-color);
}

.accordion-section__text {
  margin-bottom: 6px;

  border-top: 1px solid var(--accordion-border-color);
  padding-top: 6px;

  font-size: 0.625rem;
  line-height: 1;
  font-weight: 300;

  color: var(--accordion-section-text-color);
}

.accordion-section__price {
  margin-bottom: 12px;
}

.accordion-section__button-order {
  margin-bottom: 12px;
}

.price__value {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
  color: var(--price-value-color);
}

.price-value__abbr {
  font-size: 0.75rem;
  line-height: 1.67;
  font-weight: 700;
  color: var(--price-abbr-color);
}

.price__slash {
  position: relative;
  display: inline-block;
  width: 0.25rem;
  height: 0.65rem;
}

.price__slash::after {
  content: "/";
  position: absolute;
  display: inline-block;

  top: 10%;

  font-size: 0.85rem;
  line-height: 1;
  font-weight: 700;
}

.price__description {
  font-size: 0.75rem;
  line-height: 1.67;
  font-weight: 400;
  color: var(--price-description-color);
}

.button-order {
  width: 86px;
  max-width: 100%;
  min-height: 25px;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 143%;

  border-radius: 10px;

  background: var(--button-order-background-color);
  color: var(--accordion-button-order-text-color);
}

.prices__contact {
  text-align: right;
  max-width: 452px;
}

.prices-contact__heading {
  margin-bottom: 38px;
}

.prices-contact--heading-text {
  font-weight: 700;
  color: var(--text-color-default);
}

.prices-contact__button {
  margin-bottom: 39px;
  margin-left: auto;

  width: 162px;
  max-width: 100%;
  min-height: 50px;
}

.prices-contact .button__text {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: unset;
  color: var(--text-color-secondary);
}

.button--prices {
  border-radius: 5px;
  border: 1px solid var(--border-color-primary);
  font-family: "Inika";
}

.prices-contact__image {
  margin-left: auto;
  max-width: 152px;

  mix-blend-mode: multiply;
}

.image__prices-contact {
  aspect-ratio: 152 /175;
  object-fit: cover;
}

/* ---------------------contacts--------------------------- */
.contacts__container {
  padding-top: 53px;
  position: relative;

  column-gap: 16px;
}

.contacts__image {
  max-width: 400px;
  mix-blend-mode: multiply;
}

.image--contacts {
  aspect-ratio: 400 / 496;
}

.contacts__heading {
  position: absolute;

  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts--heading-text {
  font-family: "Inika";
  font-weight: 700;
  color: var(--text-color-heading-inner);
}

.contacts__select {
  /* position: relative; */
  padding-top: 95px;
  width: 450px;
  max-width: 100%;
}

.contacts__select-section {
  position: relative;
  margin-bottom: 47px;
  width: 100%;
}

.select-content-wrap {
  width: 100%;
  position: absolute;
}

.select-section__heading {
  width: 100%;
  min-height: 50px;
}

.select-section__button {
  padding-left: 20px;
  padding-right: 35px;
}
.select-button {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--text-color-heading-primary);
}

.select-button__text {
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.select-button__text.active {
  font-size: 1rem;
  line-height: 2.5;
}

.button--contacts {
  border: 1px solid transparent;
  border-radius: 0;

  background-color: var(--accordion-background-color);
  box-shadow: var(--box-shadow-primary);

  transition: all 1s;
}

.button--contacts .button__arrow {
  background-color: var(--select-arrow-background-color-secondary);
}

.button--contacts .button__arrow::before {
  border-color: var(--accordion-arrow-color-active);
}

.select-section__list {
  padding-top: 15px;
  padding-bottom: 19px;
  background-color: var(--select-section-value-background-color);
}

.select-section__item {
  padding-left: 35px;
  padding-right: 35px;
}

.select-section__item + .select-section__item {
  padding-bottom: 12px;
}

.select-section__item:hover .select-section__text {
  color: var(--select-section-text-color-active);
  cursor: pointer;
}

.select-section__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;

  border-bottom: 1px solid var(--select-section-border-color);
  color: var(--select-section-text-color);
}

.select-button[aria-expanded="true"] .button__arrow::before {
  background-color: var(--accordion-arrow-background-color-primary-active);
  transform: translate(50%, -25%) rotate(135deg);
}

.select-button[aria-expanded="true"] {
  box-shadow: var(--box-shadow-primary-active);
  background-color: var(--select-background-color-active);
  border: 1px solid var(--select-border-color-active);
}

.select-button.active {
  box-shadow: none;
  background-color: var(--select-background-color-active);
  border: 1px solid var(--select-border-color-active);
}

.select-button[aria-expanded="true"] .button__arrow {
  background-color: var(--select-arrow-background-color-secondary-active);
}
/* ----------------------------------------------------------------------------- */

.select__address.active {
  height: 214px;
  opacity: 1;
  visibility: visible;
}

.address-select__wrap {
  padding-top: 17px;
  padding-right: 33px;
  padding-bottom: 32px;
  padding-left: 33px;
  border: 1px solid var(--select-address-border-color);
  border-radius: 20px;
  height: 0px;

  opacity: 0;
  overflow: hidden;
  transition: 0.7s opacity, 0.7s height;
}
.address-select__wrap.active {
  height: 214px;
  opacity: 1;
  visibility: visible;
}

.address-select__column-wrap {
  display: flex;
  column-gap: 15px;
  margin-bottom: 28px;
}

.address-select__column {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: var(--select-address-text-color-secondary);
}

.address-select__column span:nth-of-type(1),
.address-select__column span:nth-of-type(2) {
  white-space: nowrap;
}
.address-select__column span:nth-of-type(3) {
  padding-top: 10px;
  line-height: 1.25;
}

.column--title {
  color: var(--select-address-text-color-primary);
}

.address-select__button {
  margin-left: auto;
  margin-right: auto;

  width: 7.625rem;
  max-width: 100%;
  min-height: 1.625rem;
}

.address-select--button {
  border-width: 1px;
  border-radius: 5px;
}

.address-select .button__text {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.3;
  text-transform: unset;
}

/* .address-select__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 24px;
}

.address-select__item {
  display: flex;

  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: var(--select-address-text-color-secondary);
  word-wrap: break-word;
} */
/* .address-select__item span:nth-of-type(1) {
  max-width: 128px;

  color: var(--select-address-text-color-primary);

}
 */

/* ------------------------footer------------------------ */

.footer__container {
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.25rem;
  line-height: 2.5;
}

.footer__link {
  position: relative;
}

.link-rrs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link-rrs:active {
  top: 42px;
}

.footer__copyright,
.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social__item {
  position: relative;
}

.social__link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.social__link::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;

  width: 44px;
  height: 44px;
}
